
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div style="color:Red">
        Please Enter the Credentials Correctly.
    </div>
    <div class="form-actions no-color">

        @Html.ActionLink("Back to Home Page", "Index")
    </div>
</body>
</html>
