
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    
        <div class="item active">
            <img src="~/Content/Images/Library.jpg" style="width:100%;height:630px;">
        </div>
    
</body>
</html>
